---
title: 名詞
desc: めーしー
---

<svelte:head>
<title>{title}</title>
<meta property="og:title" content="{title} - 終末式ローマ字" />
<meta name="twitter:title" content="{title} - 終末式ローマ字" />
<meta name="description" content="{desc}" />
<meta property="og:description" content="{desc}" />
<meta name="twitter:description" content="{desc}" />
<meta property="og:type" content="article" />
</svelte:head>

# { title }

## h2

Paragraph 1

Paragraph 2
